@import "reset.less";
@import "fonts-roboto";
@import "variables";
@import "media";

@bg-color: #0A1A26;
@bg-header: #142836;

body, html, .dashboard-page {
  height: auto;
  min-height: 100vh;
  font-size: 14px;
  color: @color-primary;
  background-color: @bg-color;
  font-family: 'Roboto';
}
.dashboard-page{

  &__content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
.header-dashboard{
  background-color: @bg-header;
  height: 56px;
  width: 100%;
  display: inline-flex;

  @media @mobile{
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    min-height: 118px;
  }

  &__logo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 28px;
  }

  &__account{
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: 52px;
    flex-wrap: wrap;
    align-content: center;
    @media @mobile{
      margin-right: 28px;
      margin-top: 20px;
    }

  }

}
.account-box{
  &__img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  &__user-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 12px;
  }
  &__arrow{
    &--rotate{
      transform: rotate(180deg);
    }
  }
}