@import "reset.less";
@import "fonts-roboto";
@import "variables";
@import "media";

body, html, .login-page {
  height: auto;
  min-height: 100vh;
  font-size: 14px;
  color: @color-primary;
  font-family: 'Roboto';
}

.mobile-stub{
  display: none;

  @media @adaptive{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    padding: 5% 5%;
    background: rgba(20, 40, 54, 0.9);
    z-index: 9999;
    color: #fff;
    flex-wrap: wrap;
    line-height: 20px;
    &.hidden{
      display:none;
    }
    &__close{
      font-weight: bold;
      margin-top: 20px;
      color: #f77518;
      font-size:16px;
    }
  }
  &__info{
    width:100%;
    margin-bottom: 10px;
    text-align: center;
  }
  &__href{
    width:50%;
    color: #fff;
  }

}

.login-page {
  background: @bg-login;
  display: flex;
  flex-direction: column;
  &__header{
    margin: 24px 30px 0px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media @mobile {
      margin: 24px 5% 0px auto;
    }
  }

  &__bottom-bg {
    background: url(../img/bottom-grid.svg) no-repeat;
    height: 249px;
    width: 100%;
    background-size: cover;
    position: fixed;
    bottom: 0px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin: 56px 238px 0px 108px;
    @media @adaptive {
      flex-direction: column;
      margin: 56px auto 80px;
    }
    @media @desktop {
      margin: 56px auto 0;
    }
    @media @desktop-xl {
      margin: 56px auto 0px;
    }
  }
}

.header-dropdown {
  height: 32px;
  width: 128px;
  position: relative;

  &__lang {
    background: @bg-dropdown;
    height: 30px;
    width: 128px;
    border-radius: 3px;
    display: flex;
    padding-left: 9px;
    cursor: pointer;
    align-items: center;
    transition: .5s;
    outline: none;

    &.active {
      color: @color-white;
    }

    &.active .dropdown-btn__arrow {
      transform: rotate(180deg);
    }
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    top:-400px;
    background: @bg-dropdown;
    width: 100%;
    left: 0px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    opacity:0;
    transition:all 0.5s;
    z-index:-1;
    &.active {
      top: 36px;
      opacity:1;
      visibility: visible;
      z-index:5;
    }
  }

}

.dropdown-btn {

  &__arrow {
    background: url(../img/arrow-open.svg) no-repeat;
    width: 24px;
    height: 24px;
    background-size: cover;
    display: block;
    transition: all 0.4s;
    margin-left: auto;
    margin-right: 4px;
  }

}

.menu-lang {

  &__nav {
    height: 34px;
    line-height: 36px;
    padding-left: 9px;
    transition: all 0.3s;
    cursor: pointer;
    color: #79838A;

    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:hover {
      color: @color-white;
      background: @bg-input;
    }

    &--active {
      color: #FF9900;
    }
  }

}

.content {

  width: 1020px;
  @media @adaptive {
    width: 90%;
  }

  &__form {
    background: @bg-form;
    border-radius: 4px;
    padding: 28px;
    margin-left: auto;
    width: 456px;
    @media @adaptive {
      margin: 0 auto 30px;
    }
    @media @mobile {
      width: 100%;
      padding: 14px;
    }
  }

  &__description {
    max-width: 380px;
    @media @adaptive {
      order: 1;
      margin: 0 auto;
      width: 380px;
    }
    @media @mobile {
      width: 100%;
    }
  }

}

.description-login {

  &__description {
    font-size: 24px;
    line-height: 150%;
    color: @color-white;
    margin-bottom: 24px;
    font-weight: bold;
  }

  &__info {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__downloads {
    display: flex;
  }

  &__logo {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 92px;

    h1 {
      color: @color-white;
      font-size: 24px;
      line-height: 150%;
    }

    img {
      margin-right: 25px;
    }
  }

}

.download-app {

  &__box:first-child {
    margin-right: 40px;
  }

  &__box {
    text-align: center;
  }

}

.download-box{
  &__img {
    cursor: pointer;
    margin-bottom: 13px;
  }

  &__qrcode {
    border-bottom: 1px dashed #D3DBE0;
    padding-bottom: 2px;
    display: inline;
    cursor: pointer;
  }
}

.form-login {
  position: relative;
  transition: all 1s;
  &.joke{
    transform: rotate(180deg) scaleX(-1);

  }
  &__error {
    background: rgba(209, 25, 62, 0.35);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    top: -52px;
    position: absolute;
    width: 100%;
    left: 0px;
    display: none;
    padding: 12px;
    min-height: 40px;
  }

  &__ico-error {
    background: url(../img/_error.svg) no-repeat;
    width: 16px;
    height: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 12px;
    order: 0;
    flex-basis: 20px;
    @media @mobile {
      margin-left: 10px;
    }
  }

}

.form {
  position: relative;

  &__head {
    color: @color-white;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 32px;
  }

  &__row {
    padding-bottom: 36px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

}

.form-row {
  position: relative;

  &__label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  &__error{
    color: red;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 20px;
    font-size: 12px;
    display:none;
  }
  &__input {
    background: @bg-input;
    color: @color-primary;
    outline: none;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid @bg-input;
    position: relative;
    transition: all .5s;

    /*&:invalid{
      border-color:red;
      &+.form-row__error{
        display: block;
      }
    }*/

    &:focus {
      border: 1px solid #D3DBE0;
    }

    &--submit {
      color: #fff;
      background: @bg-submit;
      text-transform: uppercase;
      cursor: pointer;
      z-index: 1;
      font-size: 18px;
      &:focus{
        border:none;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0px;
        border-radius: 3px;
        height: 100%;
        background: #f77118;
        transition: all .5s;
        z-index: -1;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  &__switch-password {
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: absolute;
    background: url(../img/view-off.svg) no-repeat;
    opacity: 0.5;
    right: 14px;
    top: 36px;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  padding: 40px 74px 22px;
  visibility: hidden;
  background: #142836;
  border-radius: 4px;
  opacity: 0;
  transition: ease-in 0.3s;

  &.show {
    visibility: visible;
    opacity: 1;
    &.modal--error{
      min-height: 260px;
      width: 360px;
      padding:20px 60px;
      @media @mobile {
        width: 100%;
        padding: 0 20px;
      }
    }
    &.modal--verification{
      min-height: 272px;
      width: 416px;
      display: flex;
      padding: 24px 28px 20px 28px;
      flex-direction: column;
      align-items: center;
      @media @mobile {
        width: 100%;
        padding: 0 20px;
      }
    }
  }

  &__txt {
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
    margin-top: 17px;
  }

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../img/close.svg) no-repeat;
    opacity: 0.6;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  &__txt {
    margin-top: 17px;
    text-align: center;
  }
}

.overlay, .overlay-verification {
  &.show {
    visibility: visible;
    opacity: 1;
  }

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.38);
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
}

.modal-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 220px;
  &__img{
    width:72px;
    height:72px;
  }
  &__message{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 16px;
  }
  &__comment{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
    width: 240px;
    height: 32px;
    text-align: center;
  }
  &__close{
    padding: 0;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 144px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF9900;
    margin-top: auto;
    &--opacity{
      opacity: 1;
    }
  }
}

.modal-verification{
  max-width: 360px;
  &__message{
    font-size: 18px;
    line-height: 21px;
    color:#fff;
  }
  &__comment{
    margin-top: 16px;
    line-height: 20px;
  }
  &__form{
    margin-top: 20px;
    .form__label{
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
    }
    .form__input{
      background: @bg-input;
      color: @color-primary;
      outline: none;
      width: 100%;
      height: 48px;
      border-radius: 3px;
      padding-left: 10px;
      font-size: 16px;
      border: 1px solid @bg-input;
      position: relative;
      transition: all .5s;
    }
  }
  &__submit{
    padding: 0;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    color: #FF9900;
    opacity: 0.6;
    margin-top: 24px;
    &--opacity{
      opacity: 1;
    }
  }
}







