@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@adaptive:     ~"only screen and (max-width: 1159px)";
@desktop:  ~"only screen and (min-width: 1367px)";
@desktop-xl:  ~"only screen and (min-width: 1920px)";
/* Usage */
/*.test-class {
  @media @mobile {
    background: orange;
  }
}
 */