
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 font-size: 100%;
	 font: inherit;
	 vertical-align: baseline;
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	 display: block;
}
 body {
	 line-height: 1;
}
 ol, ul {
	 list-style: none;
}
 blockquote, q {
	 quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
	 content: '';
	 content: none;
}
 table {
	 border-collapse: collapse;
	 border-spacing: 0;
}
 *, *:before, *:after {
	 box-sizing: border-box;
}
 @font-face {
	 font-family: 'Roboto';
	 src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
	 font-weight: normal;
	 font-style: normal;
}
 body, html, .login-page {
	 height: auto;
	 min-height: 100vh;
	 font-size: 14px;
	 color: #D3DBE0;
	 font-family: 'Roboto';
}
 .login-page {
	 background: #0A1A26;
	 display: flex;
	 flex-direction: column;
}
 .login-page__header {
	 margin: 24px 30px 0px auto;
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}
 @media only screen and (max-width: 529px) {
	 .login-page__header {
		 margin: 24px 5% 0px auto;
	}
}
 .login-page__bottom-bg {
	 background: url(../img/bottom-grid.svg) no-repeat;
	 height: 249px;
	 width: 100%;
	 background-size: cover;
	 position: fixed;
	 bottom: 0px;
}
 .login-page__content {
	 display: flex;
	 flex-wrap: wrap;
	 z-index: 1;
	 margin: 56px 238px 0px 108px;
}
 @media only screen and (max-width: 1159px) {
	 .login-page__content {
		 flex-direction: column;
		 margin: 56px auto 80px;
	}
}
 @media only screen and (min-width: 1367px) {
	 .login-page__content {
		 margin: 56px auto 0;
	}
}
 @media only screen and (min-width: 1920px) {
	 .login-page__content {
		 margin: 56px auto 0px;
	}
}
 .header-dropdown {
	 height: 32px;
	 width: 128px;
	 position: relative;
}
 .header-dropdown__lang {
	 background: #142836;
	 height: 30px;
	 width: 128px;
	 border-radius: 3px;
	 display: flex;
	 padding-left: 9px;
	 cursor: pointer;
	 align-items: center;
	 transition: .5s;
}
 .header-dropdown__lang.active {
	 color: #fff;
}
 .header-dropdown__lang.active .dropdown-btn__arrow {
	 transform: rotate(180deg);
}
 .header-dropdown__menu {
	 visibility: hidden;
	 position: absolute;
	 top: -400px;
	 background: #142836;
	 width: 100%;
	 left: 0px;
	 border-radius: 3px;
	 font-size: 13px;
	 line-height: 15px;
	 opacity: 0;
	 transition: all 0.5s;
	 z-index: -1;
}
 .header-dropdown__menu.active {
	 top: 36px;
	 opacity: 1;
	 visibility: visible;
	 z-index: 5;
}
 .dropdown-btn__arrow {
	 background: url(../img/arrow-open.svg) no-repeat;
	 width: 24px;
	 height: 24px;
	 background-size: cover;
	 display: block;
	 transition: all 0.4s;
	 margin-left: auto;
	 margin-right: 4px;
}
 .menu-lang__nav {
	 height: 34px;
	 line-height: 36px;
	 padding-left: 9px;
	 transition: all 0.3s;
	 cursor: pointer;
}
 .menu-lang__nav:first-child {
	 border-top-left-radius: 3px;
	 border-top-right-radius: 3px;
}
 .menu-lang__nav:last-child {
	 border-bottom-left-radius: 3px;
	 border-bottom-right-radius: 3px;
}
 .menu-lang__nav:hover {
	 color: #fff;
	 background: #263845;
}
 .menu-lang__nav--active {
	 color: #FF9900;
}
 .content {
	 width: 1020px;
}
 @media only screen and (max-width: 1159px) {
	 .content {
		 width: 90%;
	}
}
 .content__form {
	 background: #0C202E;
	 border-radius: 4px;
	 padding: 28px;
	 margin-left: auto;
	 width: 456px;
}
 @media only screen and (max-width: 1159px) {
	 .content__form {
		 margin: 0 auto 30px;
	}
}
 @media only screen and (max-width: 529px) {
	 .content__form {
		 width: 100%;
		 padding: 14px;
	}
}
 .content__description {
	 max-width: 380px;
}
 @media only screen and (max-width: 1159px) {
	 .content__description {
		 order: 1;
		 margin: 0 auto;
		 width: 380px;
	}
}
 @media only screen and (max-width: 529px) {
	 .content__description {
		 width: 100%;
	}
}
 .description-login__description {
	 font-size: 24px;
	 line-height: 150%;
	 color: #fff;
	 margin-bottom: 24px;
	 font-weight: bold;
}
 .description-login__info {
	 font-size: 16px;
	 line-height: 150%;
	 margin-bottom: 40px;
}
 .description-login__downloads {
	 display: flex;
}
 .description-login__logo {
	 display: flex;
	 height: 40px;
	 align-items: center;
	 margin-bottom: 92px;
}
 .description-login__logo h1 {
	 color: #fff;
	 font-size: 24px;
	 line-height: 150%;
}
 .description-login__logo img {
	 margin-right: 25px;
}
 .download-app__box:first-child {
	 margin-right: 40px;
}
 .download-app__box {
	 text-align: center;
}
 .download-box__img {
	 cursor: pointer;
	 margin-bottom: 13px;
}
 .download-box__qrcode {
	 border-bottom: 1px dashed #D3DBE0;
	 padding-bottom: 2px;
	 display: inline;
	 cursor: pointer;
}
 .form-login {
	 position: relative;
}
 .form-login__error {
	 background: rgba(209,25,62,0.35);
	 border-radius: 4px;
	 font-size: 14px;
	 line-height: 16px;
	 color: #fff;
	 top: -52px;
	 position: absolute;
	 width: 100%;
	 left: 0px;
	 display: flex;
	 padding: 12px;
	 min-height: 40px;
}
 .form-login__ico-error {
	 background: url(../img/_error.svg) no-repeat;
	 width: 16px;
	 height: 16px;
	 flex-grow: 0;
	 flex-shrink: 0;
	 margin-right: 12px;
	 order: 0;
	 flex-basis: 20px;
}
 @media only screen and (max-width: 529px) {
	 .form-login__ico-error {
		 margin-left: 10px;
	}
}
 .form {
	 position: relative;
}
 .form__head {
	 color: #fff;
	 font-size: 22px;
	 text-align: center;
	 line-height: 26px;
	 margin-bottom: 32px;
}
 .form__row {
	 margin-bottom: 36px;
	 position: relative;
}
 .form__row:last-child {
	 margin-bottom: 0px;
}
 .form-row__label {
	 font-size: 14px;
	 line-height: 16px;
	 margin-bottom: 8px;
}
 .form-row__input {
	 background: #263845;
	 color: #D3DBE0;
	 outline: none;
	 width: 100%;
	 height: 48px;
	 border-radius: 3px;
	 padding-left: 10px;
	 font-size: 16px;
	 border: 1px solid #263845;
	 position: relative;
	 transition: all .5s;
}
 .form-row__input:focus {
	 border: 1px solid #D3DBE0;
}
 .form-row__input--submit {
	 color: #fff;
	 background: linear-gradient(281.74deg,#FCA501 0%,#F76F1A 100%);
	 text-transform: uppercase;
	 cursor: pointer;
	 z-index: 1;
	 font-size: 18px;
}
 .form-row__input--submit:before {
	 content: "";
	 position: absolute;
	 bottom: 0px;
	 left: 0px;
	 width: 0px;
	 border-radius: 3px;
	 height: 100%;
	 background: #f77118;
	 transition: all .5s;
	 z-index: -1;
}
 .form-row__input--submit:hover:before {
	 width: 100%;
}
 .form-row__switch-password {
	 width: 24px;
	 height: 24px;
	 display: block;
	 cursor: pointer;
	 position: absolute;
	 background: url(../img/view-off.svg) no-repeat;
	 opacity: 0.5;
	 right: 14px;
	 top: 36px;
	 transition: all 0.3s;
}
 .form-row__switch-password:hover {
	 opacity: 1;
}
 .modal {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%,-50%);
	 width: 316px;
	 z-index: 1000;
	 visibility: hidden;
	 background: #142836;
	 border-radius: 4px;
	 opacity: 0;
	 transition: ease-in 0.3s;
	 padding: 47px 74px 22px;
}
 .modal.show {
	 visibility: visible;
	 opacity: 1;
}
 .modal__txt {
	 text-align: center;
	 font-size: 14px;
	 line-height: 150%;
	 color: #fff;
	 margin-top: 17px;
}
 .modal__close {
	 position: absolute;
	 right: 8px;
	 top: 8px;
	 cursor: pointer;
	 width: 24px;
	 height: 24px;
	 display: block;
	 background: url(../img/close.svg) no-repeat;
	 opacity: 0.6;
	 transition: all 0.5s;
}
 .modal__close:hover {
	 opacity: 1;
}
 .modal__txt {
	 margin-top: 17px;
	 text-align: center;
}
 .overlay {
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 z-index: 99;
	 background: rgba(0,0,0,0.38);
	 visibility: hidden;
	 opacity: 0;
	 transition: all .4s;
}
 .overlay.show {
	 visibility: visible;
	 opacity: 1;
}
 .dashboard-page {
	 height: auto;
	 min-height: 100vh;
	 font-size: 14px;
	 color: ;
	 background-color: #0A1A26;
	 font-family: 'Roboto';
 }
 .dashboard-page__content {
	 display: flex;
	 justify-content: center;
	 margin-top: 30px;
	 text-align: center;
 }
 .header-dashboard {
	 background-color: #142836;
	 height: 56px;
	 width: 100%;
	 display: inline-flex;
 }
 @media {
	 .header-dashboard {
		 display: flex;
		 *flex-direction: column;
		 padding: 20px 0 20px 0;
		 *min-height: 118px;
	 }
 }
 .header-dashboard__logo {
	 display: flex;
	 flex-wrap: wrap;
	 align-content: center;
	 margin-left: 28px;
 }
 .header-dashboard__account {
	 height: 100%;
	 display: flex;
	 margin-left: auto;
	 margin-right: 52px;
	 flex-wrap: wrap;
	 align-content: center;
 }
 @media {
	 .header-dashboard__account {
		 margin-right: 28px;

	 }
 }
 .account-box__img {
	 height: 32px;
	 width: 32px;
	 border-radius: 50%;
 }
 .account-box__user-name {
	 font-weight: 500;
	 font-size: 14px;
	 line-height: 15px;
	 margin-left: 8px;
	 display: flex;
	 flex-wrap: wrap;
	 align-content: center;
	 margin-right: 12px;
 }
 .account-box__arrow--rotate {
	 transform: rotate(180deg);
 }
